<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <title>Assign tasks</title>
</head>
<body>
<div class="container">
    <h3>All tasks</h3>
    <ul class="list-group" th:each="task: ${tasks}">
        <li class="list-group-item" th:text="${task.description}" th:id="${task.id}">
        </li>
    </ul>
    <div class="input-group mb-3">
        <input id="taskName" type="text" class="form-control" placeholder="Task name" aria-label="Task name" aria-describedby="basic-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="createTask()">Add</button>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script>
    function createTask() {
        var taskName = document.getElementById("taskName").value;
        var data = {};
        data["description"] = taskName;
        var body = JSON.stringify(data);
        $.ajax({
            url: "/api/tasks",
            contentType: "application/json",
            data: body,
            dataType: "json",
            type: 'POST',
            success: function (response) {},
            async: false
        });
        console.log(body + " task created");
    }
</script>
</body>
</html>